body {
  font-family: arial;
}

header {
background-image: url(http://www.visionstint.com/img/tinted_car_window.jpg);
  width: 900px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}

.logo {
/*background-color: green;*/
width: 15px;
  position: absolute;
top: 165px;
left: 175px;

}

.logo img {
  border-radius: 50%;
  width: 80px;

}

main {
  width: 600px;
  margin: auto;
}

.left-column {
  /*background-color: blue;*/
  width: 300px;
  margin: 0 auto;
  float: left;
  margin-top: 20px;
}

.left-column p {
  padding: 10px;
  margin-top: 0;
}

.left-column h3 {
  padding: 10px;
  margin-bottom: 0;
}

.right-column {
  /*background-color: yellow;*/
  width: 300px;
  margin: 0 auto;
  float: right;

}

.right-column h1 {
  margin-bottom: 0;
}

.right-column p {
  padding: 10px;
  margin-top: 0;
}

.quote {
background-color: #fff;
border: 1px solid black;
  width: 150px;
  height: 75px;
  /*margin: auto;*/
  position: fixed;
  bottom: 20%;
  right: 0;
  text-align: center;
}
